// .homepage-main {
//   width: 1176px;
//   display: flex;
//   padding-left: 16px;
//   padding-right: 16px;
//   margin-right: auto;
//   margin-left: auto;
// }

.main {
  width: 1176px;
  display: flex;
  padding-left: 16px;
  padding-right: 16px;
  margin-right: auto;
  margin-left: auto;
}
.wrapper {
  background-color: #f8f6f2;
}
