.layout-nav {
  display: flex;
  padding: 0px 150px;

  justify-content: space-between;
  align-items: center;

  box-shadow: 0 1px 5px #0000001a;
  // border-bottom: solid rgba(74, 74, 74, 0.25);
  // background-color: honeydew;
  background-color: white;

  .layout-nav-icon {
    display: inline-block;
    margin: 5px;
    max-height: 55px;
    a {
      display: inline-block;
      width: 100%;
      height: 100%;
      img {
        width: 100%;
        max-height: 55px;
        border-radius: 0px;
      }
    }
  }
}
.layout-nav-status {
  .logIn {
    cursor: pointer;

    margin-right: 15px;
    padding: 4px 10px;
    border: 1px solid #febc58;
    border-radius: 5px;

    background-color: inherit;
    font-size: 18px;
    font-weight: bold;
    color: #febc58;

    transition: 0.1s;
  }
  // .logIn:focus {
  //   box-shadow: 0 0 0 0.2rem rgba(254, 188, 87, 0.25);
  // }
  .logIn:focus {
    box-shadow: 0 0 0 0.2rem rgba(254, 188, 87, 0.25);
  }

  // .signUp {
  //   margin: 0px 5px;

  //   padding: 3.5px 4px;
  //   border-radius: 10px;

  //   background-color: rgb(255 239 173 / 78%);

  //   font-size: 18px;
  //   font-weight: bold;
  //   -webkit-text-stroke: 1px #804d00;
  //   -webkit-text-fill-color: #febc58;

  //   transition: 0.1s;
  // }
  // .signUp:hover {
  //   border: 1px solid rgb(246, 202, 120);
  //   left: 2px;
  // }

  .signUp {
    cursor: pointer;
    padding: 4px 10px;
    border: 1px solid #febc58;
    border-radius: 5px;

    background-color: inherit;
    font-size: 18px;
    font-weight: bold;
    color: #febc58;

    transition: 0.1s;
  }
  .signUp:focus {
    box-shadow: 0 0 0 0.2rem rgba(254, 188, 87, 0.25);
  }
}
