.logInPage {
  width: 500px;
  height: 620px;

  margin-top: 40px;
  border: 1px solid #e5e5e5;
  border-radius: 12px;
  background-color: white;
  box-shadow: 0px 0px 6px 1px #e5e5e5;
  .logInTitle {
    display: flex;
    margin: 20px 0px;

    justify-content: center;
  }
}

.outerWrapper {
  margin: 30px 0;
  padding: 0 100px;
}

.otherDevices {
  display: flex;
  flex-direction: column;
  align-items: center;
  // margin: 30px 0;
  button {
    margin-bottom: 10px;
  }
}

.logInForm {
  display: flex;
  //   flex-wrap: wrap;
  flex-direction: column;
  align-items: center;

  margin-top: 20px;

  input {
    // border: 1px solid #cececd;
    border-radius: 6px;
    padding: 6px 12px;
    outline: 0;
    width: 100%;
    line-height: 30px;
    font-size: 20px;
  }
  .emailInput {
    border: 1px solid #cececd;
  }
  .emailInput:focus {
    border-color: #febc57;

    box-shadow: 0 0 0 3.2px rgba(254, 188, 87, 0.35);
  }

  .accountName {
    margin-top: 10px;
    border: 1px solid #cececd;
  }
}

.inputWrapper {
  display: flex;
  margin-top: 10px;
  border-radius: 6px;

  border: 1px solid #cececd;
  width: 100%;
  input {
    border: 0px solid #cececd;
    padding: 6px 12px;

    width: 100%;
    line-height: 30px;
    font-size: 20px;
  }
}

.forgetPassword {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  a {
    color: #febc57;
    text-decoration: underline;
  }
}

.checkAccount {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  // margin-bottom: 20px;
}
