@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: white;
  background-color: #f8f6f2;
  font-weight: 400;
  color: #3f3e3e;
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

ul {
  list-style-type: none;
}

.main {
  width: 1176px;
  display: flex;
  justify-content: center;
  padding-left: 16px;
  padding-right: 16px;
  margin-right: auto;
  margin-left: auto;
}

.wrapper {
  background-color: #f8f6f2;
}

.layout-nav {
  display: flex;
  padding: 0px 150px;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1019607843);
  background-color: white;
}
.layout-nav .layout-nav-icon {
  display: inline-block;
  margin: 5px;
  max-height: 55px;
}
.layout-nav .layout-nav-icon a {
  display: inline-block;
  width: 100%;
  height: 100%;
}
.layout-nav .layout-nav-icon a img {
  width: 100%;
  max-height: 55px;
  border-radius: 0px;
}

.layout-nav-status .loggedIn-list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.layout-nav-status .loggedIn-list li {
  margin-left: 36px;
}
.layout-nav-status .loggedIn-list li .navItem {
  display: flex;
  align-items: center;
}
.layout-nav-status .loggedIn-list li .signOut {
  padding: 4px 10px;
  border: 1px solid #febc58;
  border-radius: 5px;
  background-color: inherit;
  font-size: 18px;
  font-weight: bold;
  color: #febc58;
}
.layout-nav-status .logIn {
  cursor: pointer;
  margin-right: 15px;
  padding: 4px 10px;
  border: 1px solid #febc58;
  border-radius: 5px;
  background-color: inherit;
  font-size: 18px;
  font-weight: bold;
  color: #febc58;
  transition: 0.1s;
}
.layout-nav-status .logIn:focus {
  box-shadow: 0 0 0 0.2rem rgba(254, 188, 87, 0.25);
}
.layout-nav-status .signUp {
  cursor: pointer;
  padding: 4px 10px;
  border: 1px solid #febc58;
  border-radius: 5px;
  background-color: inherit;
  font-size: 18px;
  font-weight: bold;
  color: #febc58;
  transition: 0.1s;
}
.layout-nav-status .signUp:focus {
  box-shadow: 0 0 0 0.2rem rgba(254, 188, 87, 0.25);
}

.logInPage {
  width: 500px;
  margin-top: 40px;
  border: 1px solid #e5e5e5;
  border-radius: 12px;
  background-color: white;
  box-shadow: 0px 0px 6px 1px #e5e5e5;
}
.logInPage .logInTitle {
  display: flex;
  margin: 20px 0px;
  justify-content: center;
}

.outerWrapper {
  margin: 30px 0;
  padding: 0 100px;
}

.otherDevices {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.otherDevices button {
  margin-bottom: 10px;
}

.logInForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}
.logInForm input {
  border-radius: 6px;
  padding: 6px 12px;
  outline: 0;
  width: 100%;
  line-height: 30px;
  font-size: 20px;
}
.logInForm .emailInput {
  border: 1px solid #cececd;
}
.logInForm .emailInput:focus {
  border-color: #febc57;
  box-shadow: 0 0 0 3.2px rgba(254, 188, 87, 0.35);
}
.logInForm .accountName {
  margin-top: 10px;
  border: 1px solid #cececd;
}

.inputWrapper {
  display: flex;
  margin-top: 10px;
  border-radius: 6px;
  border: 1px solid #cececd;
  width: 100%;
}
.inputWrapper input {
  border: 0px solid #cececd;
  padding: 6px 12px;
  width: 100%;
  line-height: 30px;
  font-size: 20px;
}

.forgetPassword {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.forgetPassword a {
  color: #febc57;
  text-decoration: underline;
}

.checkAccount {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.header {
  position: relative;
  background-color: rgba(241, 255, 255, 0.7019607843);
  border-bottom: solid rgba(74, 74, 74, 0.25);
}
.header .header-nav {
  display: flex;
  justify-content: space-between;
  margin: 0px 132px;
  padding: 0px 16px 0px 0px;
}
.header .header-nav .header-nav-ul {
  display: flex;
  flex-grow: 1; /* 讓這個元素佔據剩餘空間 */
  justify-content: space-between; /* 平均分配連接之間的空間 */
  padding: 0px 20px;
  line-height: 35px;
}
.header .header-nav .header-nav-ul .header-nav-link {
  display: inline-block;
  font-size: 1.25rem;
  width: 100%;
}

.Search {
  max-width: 620px;
  margin-top: 50px;
  margin-bottom: 5px;
  padding: 0px 6px;
}
.Search #search-widget {
  padding: 6px;
  box-shadow: 0px 1px 5px rgba(74, 74, 74, 0.231372549);
  background-color: #ffffff;
  border-radius: 20px;
}
.Search #search-widget .search-box {
  display: flex;
  align-items: center;
}
.Search #search-widget .search-box .search-button {
  border: 0;
  background-color: transparent;
  cursor: pointer;
  width: 24px;
  height: 24px;
}
.Search #search-widget .search-box .search-button .search-icon {
  height: 100%;
}
.Search #search-widget .search-box .search-input {
  outline: 2px solid rgba(0, 0, 0, 0);
  outline-offset: 2px;
  width: 100%;
  font-size: 18px;
  border: 0;
  text-align: left;
  padding: 0px 12px;
}
.Search #search-widget .search-box .search-submit {
  border: 0;
  border-radius: 20px;
  color: #ffffff;
  background-color: #febc58;
  padding-bottom: 8px;
  padding-top: 8px;
  padding-left: 24px;
  padding-right: 24px;
  cursor: pointer;
}
.Search .popular-search-terms {
  margin-top: 24px;
  margin-bottom: 4px;
  font-size: 12px;
  font-weight: 600;
  color: rgb(96, 96, 96);
  letter-spacing: 1.6px;
}
.Search .popular-recipes .recipe-list {
  margin-bottom: 3px;
  display: flex;
  flex-wrap: wrap;
}
.Search .popular-recipes .recipe-list .recipe-item {
  padding-right: 10px;
}
.Search .popular-recipes .recipe-list .recipe-item a {
  font-weight: 600;
  font-size: 14px;
  color: #76b6ef;
}
.Search .popular-recipes .recipe-categories .guideLine {
  border: 3px solid red;
  width: 120px;
  padding: 4px 5px 6px 5px;
  position: relative;
}
.Search .popular-recipes .recipe-categories .guideLine ::after {
  content: "⬅ 點擊試玩，其餘功能正在開發中";
  position: absolute;
  left: 130px;
  width: 300px;
  height: 0px;
  color: red;
  font-size: 15px;
  background-color: red;
}
.Search .popular-recipes .recipe-categories .recipe-categories-link {
  padding: 4px 16px;
  font-size: 12px;
  border-radius: 14px;
  color: #4a4a4a;
  background-color: #fff2d8;
}

.recipe-card-Header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  width: 100%;
}
.recipe-card-Header .card-header-title {
  font-weight: 400;
}
.recipe-card-Header .card-Header-link::after {
  content: " >";
  font-size: 20px;
}

.recipe-card {
  display: flex;
  flex-wrap: wrap;
  width: 748px;
  margin-bottom: 16px;
  padding: 16px 0;
  border-radius: 10px;
  padding-right: 6px;
}

.recipe-card-content {
  display: flex;
  width: 100%;
}
.recipe-card-content .card-content-link {
  border: 1px;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1019607843);
  background-color: white;
  margin-right: 12px;
}
.recipe-card-content .card-content-link .card-content-image {
  display: block;
  overflow: hidden;
  margin-bottom: 12px;
  position: relative;
  height: 131.5px;
  width: 177.5px;
}
.recipe-card-content .card-content-link .card-content-image img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
  object-fit: cover;
}
.recipe-card-content .card-content-link .card-content-info {
  padding: 10px;
}
.recipe-card-content .card-content-link .card-content-info .card-content-name {
  color: #564e4a;
  font-weight: 450;
}
.recipe-card-content .card-content-link .card-content-info .card-content-author {
  color: #706864;
  font-size: 14px;
}
.recipe-card-content .card-content-link:last-child {
  margin-right: 0px;
}

.homepageContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.activity_info {
  position: relative;
  width: 336px;
  height: 395.3px;
  margin: 0px 0px 16px 58px;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1019607843);
  padding: 16px;
}

.slick-list {
  position: relative;
  height: 85%;
  overflow: hidden;
}

/* 單個輪播頁 */
.slick-slider {
  display: flex;
  width: 100%;
  height: 100%;
}

.slick-slide {
  flex: 0 0 100%; /* 寬度佔滿整個父容器 */
  transition: transform 0.3s ease; /* 添加過度效果 */
}

/* 當前輪播的樣式*/
.slick-slide.active {
  transform: scale(1.1); /* 當前添加的效果 */
}

/* 輪播内容容器 */
.carousel {
  position: relative;
  width: 100%;
  height: 200px;
}

/* 活動圖片容器 */
.container {
  position: absolute;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 7px;
  transition: all 1s ease;
  /* 活動圖片 */
}
.container img {
  border-radius: 7px;
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

/* 活動標題 */
.activity-title {
  position: absolute;
  top: 220px;
  bottom: 0;
}
.activity-title h3 {
  color: #564e4a;
  font-size: 18px;
  letter-spacing: 2px;
  line-height: 1.5;
  white-space: break-spaces;
}

/* 左右切換按鈕的容器 */
.shift {
  /* 左切換按鈕 */
  /* 右切換按鈕 */
}
.shift .btn {
  cursor: pointer;
  position: absolute;
  top: 94px;
  width: 32px;
  height: 32px;
}
.shift .btn:first-child {
  left: 0;
}
.shift .btn:last-child {
  right: 0;
}

.slick-slider {
  display: flex;
  transition: transform 0.5s ease; /* 添加過渡效果 */
}

.slick-slide {
  width: 100%;
  flex: 0 0 auto;
}

.content-wrapper {
  height: 100%;
}

.categories {
  flex-wrap: wrap;
}
.categories h2 {
  font-size: 32px;
  line-height: 40px;
  margin-bottom: 16px;
  margin-top: 16px;
  width: 100%;
}
.categories .categories-list {
  margin-top: 40px;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.168627451);
  border-radius: 14px;
  background-color: white;
}
.categories .categories-all-parents {
  width: 100%;
}
.categories .categories-all-parents h3 {
  margin: 0 0 8px;
  padding: 8px 16px 0px;
  color: #564e4a;
  font-size: 20px;
}
.categories .categories-all-parents .categories-all-children {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 0 6px;
  margin: 0px 16px 12px 16px;
  border-radius: 6px;
  background-color: #f8f6f1;
  justify-content: flex-start;
}
.categories .categories-all-parents .categories-all-children .categories-all-child {
  display: flex;
  width: 25%;
  padding: 0 0 0 8px;
}
.categories .categories-all-parents .categories-all-children .categories-all-child .categories-all-child-link {
  color: #564e4a;
  font-size: 18px;
  line-height: 2;
}
.categories .categories-all-parents .categories-all-children .categories-all-child .categories-all-child-link :hover {
  color: #d4910b;
}
.categories .categories-all-parents .categories-all-children .categories-all-child .categories-all-child-link h4 {
  padding: 0px 12px 0px 0px;
}

.searchResultPage {
  display: block;
  min-height: 547.5px;
}
.searchResultPage header div {
  padding: 16px 0px;
}
.searchResultPage header div h1 {
  font-size: 20px;
  letter-spacing: -1px;
  line-height: 28px;
}

.content-wrapper .content {
  display: flex;
}
.content-wrapper .content-right {
  width: 40%;
  margin-left: 24px;
}
.content-wrapper .content-right .related-searches {
  background-color: white;
  border-bottom: 1px solid rgb(128, 128, 128);
  border-radius: 5px 5px 0px 0px;
  padding-top: 16px;
  padding-right: 16px;
  padding-left: 16px;
}
.content-wrapper .content-right .related-searches .related-searches-title {
  margin-bottom: 24px;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: -1px;
  line-height: 28px;
}
.content-wrapper .content-right .related-searches .related-searches-link {
  margin-bottom: 24px;
}
.content-wrapper .content-right .related-searches .related-searches-link a {
  display: inline-flex;
  color: gray;
  border-radius: 8px;
  background-color: #fff2dd;
  white-space: nowrap;
  padding: 1px 16px;
  margin-right: 10px;
  margin-bottom: 8px;
}
.content-wrapper .content-right .search-result-form {
  background-color: white;
  padding-top: 24px;
}
.content-wrapper .content-right .search-result-form .search-container {
  padding-right: 16px;
  padding-left: 16px;
  padding-bottom: 16px;
}
.content-wrapper .content-right .search-result-form .search-container .filter-container {
  display: flex;
}
.content-wrapper .content-right .search-result-form .search-container .filter-container .filter-label {
  flex: 1 1;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: -1px;
  line-height: 28px;
}
.content-wrapper .content-right .search-result-form .search-container .filter-container .filter-label .reset-button {
  cursor: pointer;
  font-weight: 500;
}
.content-wrapper .ingredient-filter {
  margin-top: 16px;
  padding-right: 16px;
  padding-left: 16px;
  padding-bottom: 16px;
}
.content-wrapper .ingredient-filter div {
  margin-top: 16px;
}
.content-wrapper .ingredient-filter div .ingredient-search {
  display: flex;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.216);
  border-radius: 4px;
  padding: 4px;
}
.content-wrapper .ingredient-filter div .ingredient-search .search-icon {
  width: 24px;
  height: 24px;
}
.content-wrapper .ingredient-filter div .ingredient-search .ingredient-input {
  width: 100%;
  height: 100%;
  font-size: 100%;
  border: 0px solid;
  caret-color: #f93;
  outline: 2px solid rgba(0, 0, 0, 0);
  outline-offset: 2px;
  text-align: left;
}
.content-wrapper .ingredient-filter .chips {
  display: flex;
  flex-wrap: wrap;
  margin-top: 8px;
}
.content-wrapper .ingredient-filter .chips .chip {
  display: flex;
  align-items: center;
  border-radius: 10px;
  padding: 4px 8px;
  margin-right: 4px;
  margin-bottom: 8px;
  font-size: 14px;
  background-color: #fff2dd;
}
.content-wrapper .ingredient-filter .chips .chip a {
  display: inline-flex;
}
.content-wrapper .ingredient-filter .chips .chip a img {
  margin-left: 4px;
}
.content-wrapper .content-left {
  width: 60%;
}
.content-wrapper .content-left .result-li {
  overflow: hidden;
  display: flex;
  background-color: white;
  border-radius: 8px;
  margin-bottom: 8px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1019607843);
  cursor: pointer; /* 将鼠标指针变为手型 */
  user-select: none; /* 阻止文本被选中 */
  -webkit-user-select: none; /* 适用于WebKit浏览器（如Chrome和Safari） */
  -moz-user-select: none; /* 适用于Firefox浏览器 */
  -ms-user-select: none; /* 适用于Microsoft Edge */
}
.content-wrapper .content-left .result-li .li-describe {
  flex: 1 1;
  margin: 8px;
}
.content-wrapper .content-left .result-li .li-describe .describe-title h2 {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 16px;
}
.content-wrapper .content-left .result-li .li-describe .ingredients-wrappeer {
  margin-bottom: 16px;
}
.content-wrapper .content-left .result-li .li-describe .ingredients-wrappeer .ingredients-list {
  font-size: 14px;
}
.content-wrapper .content-left .result-li .li-describe .author-wrapper {
  margin-top: 28px;
  padding-top: 8px;
  border-top: 1px solid black;
  display: flex;
  align-items: center;
}
.content-wrapper .content-left .result-li .li-describe .author-wrapper .author-headshot {
  border: 0px solid;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 8px;
  width: 24px;
  height: 24px;
}
.content-wrapper .content-left .result-li .li-describe .author-wrapper .author-headshot img {
  width: 100%;
  height: 100%;
}
.content-wrapper .content-left .result-li .picture-wrapper img {
  width: 128px;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.rd-wrapper {
  width: 1176px;
  display: flex;
  padding-left: 16px;
  padding-right: 16px;
  margin-right: auto;
  margin-left: auto;
}
.rd-wrapper .rd-content {
  width: 66.6666%;
}
.rd-wrapper .rd-content .img {
  position: relative;
  border-radius: 8px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1019607843);
  height: 550px;
  margin: 16px 0px;
  overflow: hidden;
}
.rd-wrapper .rd-content .recipeImg {
  width: 100%;
  height: 100%;
  max-width: 100%; /* 新增：限制最大寬度為容器寬度 */
  max-height: 100%; /* 新增：限制最大高度為容器高度 */
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.rd-wrapper .recipeIntroduction a {
  display: flex;
  cursor: pointer;
}
.rd-wrapper .recipeIntroduction .introductionContent {
  margin-top: 16px;
}
.rd-wrapper .ingredients .ingredient-list {
  margin-top: 16px;
}
.rd-wrapper .ingredients .ingredient-list ol {
  list-style-type: none;
}
.rd-wrapper .ingredients .ingredient-list ol li {
  padding-top: 8px;
  padding-bottom: 8px;
}
.rd-wrapper .cookStep ol {
  margin-top: 16px;
}
.rd-wrapper .cookStep ol li {
  list-style-type: none;
  margin-bottom: 16px;
}
.rd-wrapper .cookStep ol li .stepName {
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 2px;
  line-height: 24px;
  margin-bottom: 8px;
}
.rd-wrapper .cookStep ol li .stepContent {
  margin-bottom: 8px;
  letter-spacing: 2px;
  color: "4A4A4A";
}
.rd-wrapper .cookStep ol li .stepImg {
  display: flex;
  margin-bottom: 8px;
}
.rd-wrapper .cookStep ol li .stepImg div {
  width: auto;
  margin-right: 8px;
}
.rd-wrapper .cookStep ol li .stepImg div img {
  width: 160px;
  border-radius: 8px;
}
.rd-wrapper .messageArea .commentSection {
  margin-top: 16px;
}
.rd-wrapper .messageArea .commentSection .latest_comment {
  display: flex;
  padding: 8px;
}
.rd-wrapper .messageArea .commentSection .latest_comment .messageProfile img {
  background-color: grey;
  opacity: 0.45;
  border-radius: 9999px;
  margin-right: 8px;
}
.rd-wrapper .messageArea .commentSection .latest_comment .message-board {
  display: flex;
  flex-direction: column;
}
.rd-wrapper .messageArea .commentSection .latest_comment .message-board a span {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: -0.2px;
  line-height: 20px;
}
.rd-wrapper .messageArea .commentSection .latest_comment .message-board .comment-time {
  font-size: 12px;
  letter-spacing: 0;
  line-height: 16px;
  opacity: 0.45;
}
.rd-wrapper .messageArea .commentSection .latest_comment .message-board .comment-body {
  margin-top: 4px;
}
.rd-wrapper .messageArea .commentSection .latest_comment .message-board .comment-body .comment-text {
  font-size: 14px;
  letter-spacing: -0.2px;
  line-height: 20px;
}
.rd-wrapper .messageArea .commentSection .messageInputArea {
  display: flex;
  padding-top: 16px;
  align-items: center;
}
.rd-wrapper .messageArea .commentSection .messageInputArea .messageItems {
  display: flex;
  align-items: center;
  width: 100%;
}
.rd-wrapper .messageArea .commentSection .messageInputArea .messageItems .avatar {
  display: flex;
  align-items: center;
}
.rd-wrapper .messageArea .commentSection .messageInputArea .messageItems .avatar img {
  margin-right: 8px;
  border-radius: 9999px;
  background-color: grey;
  opacity: 0.45;
  width: 32px;
  height: 32px;
}
.rd-wrapper .messageArea .commentSection .messageInputArea .messageItems .inputarea-box {
  display: table-cell;
  vertical-align: top;
  width: 100%;
  word-break: break-word;
}
.rd-wrapper .messageArea .commentSection .messageInputArea .messageItems .inputarea-box .simpleForm {
  border: 0 solid;
}
.rd-wrapper .messageArea .commentSection .messageInputArea .messageItems .inputarea-box .simpleForm .textInput {
  display: flex;
  border: 1px solid rgb(206, 206, 205);
  border-radius: 24px;
  letter-spacing: -0.2px;
}
.rd-wrapper .messageArea .commentSection .messageInputArea .messageItems .inputarea-box .simpleForm .textInput .insert-box {
  border: 0;
  outline: 2px solid rgba(0, 0, 0, 0);
  outline-offset: 2px;
  margin: 8px 16px;
  resize: none;
  overflow: hidden;
  overflow-wrap: break-word;
  height: 21px;
  caret-color: #f93;
  width: 100%;
  line-height: 20px;
  cursor: text;
}
.rd-wrapper .messageArea .commentSection .messageInputArea .messageItems .inputarea-box .simpleForm .textInput .send {
  border: 0;
  background-color: inherit;
  padding-right: 15px;
}
.rd-wrapper .authorArea .authorBox {
  margin: 10px 0px;
  display: flex;
}
.rd-wrapper .authorArea .authorBox .dashboard {
  width: 100%;
}
.rd-wrapper .authorArea .authorBox .dashboard .one .dashboard-author {
  font-size: 14px;
  font-weight: 600;
}
.rd-wrapper .authorArea .authorBox .dashboard .one .dashboard-time {
  font-size: 12px;
  letter-spacing: 0;
  line-height: 16px;
  opacity: 0.5;
}
.rd-wrapper .authorArea .authorBox .dashboard .two {
  margin-top: 8px;
  height: 50px;
}
.rd-wrapper .authorArea .authorBox .dashboard .two .followButton {
  padding: 6px 12px;
  border: 0;
  border-radius: 6px;
  background-color: black;
  color: white;
  cursor: pointer;
}
.rd-wrapper .authorArea .authorBox .dashboard .two :hover {
  background-color: black;
  opacity: 0.5;
}
.rd-wrapper .author-describe {
  font-size: 14px;
  letter-spacing: -0.2px;
  line-height: 20px;
  color: #4a4a4a;
}
.rd-wrapper .author-describe .describe-area {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.rd-wrapper .authorRecipes .recipes-box {
  margin-top: 16px;
  display: flex;
}
.rd-wrapper .authorRecipes .recipes-box .moreRecipeLink {
  margin-right: auto;
}
.rd-wrapper .authorRecipes .recipes-box .moreRecipeLink .recipes-img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 174px;
  height: 160px;
  border: 0;
  border-radius: 8px;
}
.rd-wrapper .authorRecipes .recipes-box .moreRecipeLink .recipes-name {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.2px;
  color: #4a4a4a;
}
.rd-wrapper .authorRecipes .recipes-box a:last-child {
  margin-right: 0;
}
.rd-wrapper .sidebar {
  position: sticky;
  top: 16px;
  width: 336px;
  height: 395.3px;
  margin-left: 16px;
  margin-top: 16px;
  border-radius: 4px;
}
.rd-wrapper .sidebar .sidebar1 .sidebar1-0 {
  display: flex;
  cursor: pointer;
  color: #ff9933;
  text-align: center;
  border: 1px solid #ff9933;
  border-radius: 8px;
  padding: 7px 14px;
  justify-content: center;
  align-items: center;
}
.rd-wrapper .sidebar .sidebar1 .sidebar1-0 img {
  width: 20px;
  height: 20px;
  margin-right: 4px;
}
.rd-wrapper .sidebar .sidebar1 .sidebar1-0 h2 {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: -0.2px;
}
.rd-wrapper .sidebar .sidebar1 .sidebar1-1 {
  cursor: pointer;
  text-align: center;
  margin-top: 9px;
  border: 1px solid #cececd;
  border-radius: 8px;
  padding: 7px 14px;
}
.rd-wrapper .sidebar .sidebar1 .sidebar1-1 h2 {
  font-size: 18px;
  font-weight: 400;
  letter-spacing: -0.2px;
  color: #606060;
}
.rd-wrapper .sidebar .sidebar1 .sidebar1-2 {
  cursor: pointer;
  text-align: center;
  margin-top: 9px;
  border: 1px solid #cececd;
  border-radius: 8px;
  padding: 7px 14px;
}
.rd-wrapper .sidebar .sidebar1 .sidebar1-2 h2 {
  font-size: 18px;
  font-weight: 400;
  letter-spacing: -0.2px;
  color: #606060;
}

.moreLink {
  margin-left: auto;
  width: 24px;
  height: 24px;
}
.moreLink .moreIcon {
  width: 100%;
  height: 100%;
}

.time-member {
  font-size: 14px;
  line-height: 20px;
}
.time-member li {
  display: inline-flex;
  align-items: center;
  margin-right: 16px;
}
.time-member li img {
  width: 16px;
  margin-right: 4px;
}

.footer-wrapper {
  background-color: white;
}
.footer-wrapper .footer {
  position: relative;
  top: 0;
  width: 100%;
  width: 1176px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
  padding-left: 16px;
  padding-right: 16px;
}
.footer-wrapper .footer .footer-content {
  display: flex;
}
.footer-wrapper .footer .footer-content .content-left .content-left-title {
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
  margin-bottom: 8px;
}
.footer-wrapper .footer .footer-info {
  text-align: center;
  padding: 15px 0px;
}/*# sourceMappingURL=style.css.map */